/* Note to students:
Some properties are given to you to fill out,
others you can modify as they stand, and if you have time,
there are definitely some properties you should add!
*/

html {
    height: 100%;
  }
  
  body {
    margin: 0;
    height: 100%;
    font-family: helvetica;
  }
  
  a {
    color: #777777;
  }
  
  img{
      border-radius: 20px;
  }
  
  header {
    padding: 20px;
    background: #999999;
    color: #222222;
    text-shadow: 1px 1px 1px #000;
    text-align: center;
  }
  
  nav {
    background-color: #222222;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav ul li {
    display: inline-block;
    margin: 20px;
    font-size: 24px;
  }
  
  section {
    width: 95%;
    margin: 0 auto;
    padding: 5px;
    min-height: 800px;
  }
  
  section img {
    margin-top: 20px;
  }
  
  footer {
    padding: 10px;
    background: #666666;
    text-align: #555555;
  }